@use 'colors';
@use 'loading-indicator';

:host {
	all: initial;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
* {
	box-sizing: border-box;
}

.status-banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0 20px;
	flex-wrap: wrap;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99999999;
	padding: 14px 16px;
	background-color: var(--color-app-background);
	color: var(--color-app-text);
	line-height: 1;
	transform: translateY(-100%);
	transition: transform 500ms ease-in-out;
	&.visible {
		transform: translateY(0);
	}
	h1 {
		margin: 0;
		font-size: 16px;
		font-weight: bold;
	}
}

.status-banner-status {
	display: flex;
	align-items: center;
	font-size: 16px;
	.loading-indicator-icon {
		width: 16px;
		stroke-width: 30;
	}
}
