@use 'base';

body {
	min-width: 400px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

form {
	width: 100%;
}

p {
	margin-bottom: 20px;
	font-size: 16px;
}

select,
input[type='text'],
input[type='password'] {
	width: 100%;
}

.loading-indicator-icon {
	width: 80px;
	stroke-width: 20;
}

.autosave-hint {
	font-style: italic;
	font-size: 14px;
}
