@use 'base';

.options-link {
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 10px;
}
.options-icon {
	--icon-size: 16px;
	width: var(--icon-size);
	height: var(--icon-size);
	fill: var(--color-app-text);
}

.loading-indicator-icon {
	width: 24px;
	stroke-width: 30;
}

.form-error {
	margin-bottom: 7px;
}

.form-footer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.form-success-message {
	font-size: 16px;
}

.hint {
	margin-top: 10px;
}
